<div id="<%= dom_id publisher %>">
  <p>
    <strong>Name:</strong>
    <%= publisher.name %>
  </p>
 <p>
    <strong>Header:</strong>
    <%= publisher.header %>
  </p>
  <p>
    <strong>Footer:</strong>
    <%= publisher.footer %>
  </p>
</div>
